.pagination {
  display: flex;
  gap: 1rem;
}

.paginationButton {
  min-height: 2.15rem;
  min-width: 2.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
  appearance: none;
  border-radius: 2px;
  background: transparent;
  border: none;
  padding: 0.5rem;

  &.isActive {
    background: lightgray;
    color: #222;
  }

  &:hover:not([aria-disabled]) {
    background: #333;
  }

  &:not([aria-disabled]) {
    cursor: pointer;
  }

  &[aria-disabled]:not(.isActive) {
    color: #666;
  }
}

.paginationPaginateButton {
  border-block-end: 1px solid #666;
  border-end-start-radius: 0;
  border-end-end-radius: 0;
}
