node_modules/
.next/
out/
/npm-debug.log
.DS_Store

# Local Netlify folder
.netlify
.env.local

# Locally generated content for development
.seed

# typescript
*.tsbuildinfo
next-env.d.ts
.vscode/**

node_modules
.env