@use "../../../styles/vars" as vars;

.essayTitle {
  color: white;
  margin-block-end: 1.5rem;
  line-height: 1.2;
}

.essayItemTimePara {
  line-height: 1.5;
  margin-block-end: 0.5rem;
  color: vars.$tertiary-color-1;
}

.essayDescription {
  margin-block-end: 3rem;
}
