.gameGrid {
  display: grid;
  gap: 1rem;
  line-height: 1.3;
  margin-block-end: 3rem;
}

.gameCell {
  background-color: #333;
  padding: 1rem;
}

.gameCellData {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 0.5rem;
}

.gameCellDataItem {
  padding: 0.25rem 0.5rem;
  border-block-end: 1px solid #4a4a4a;
}

.gameCellLabel {
  text-align: end;
  font-weight: bold;
  text-transform: capitalize;
  background-color: #4a4a4a;
}

@media (min-width: 640px) {
  .gameGrid {
    grid-template-columns: 1fr 1fr;
  }
}

// Search input

.search {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem 0 3rem 0;
}

.searchLabel {
  margin-block-end: 1rem;
}

.searchInput {
  appearance: none;
  font-size: 18px;
  border: 2px solid #777;
  background-color: transparent;
  color: #ddd;
  padding: 0.75rem 1rem;
  border-radius: 4px;
}
