@use "../../../styles/vars" as vars;

.empyStateContainer {
  margin-block-end: 3rem;
}

.bgMask {
  background-color: #444;
  position: absolute;
}

@keyframes placeHolderShimmerMetadata {
  0% {
    background-position: -800px 0;
  }
  50% {
    background-position: 450px 0;
  }
  100% {
    background-position: 800px 0;
  }
}

@keyframes placeHolderShimmerTitle {
  0% {
    background-position: -800px 0;
  }
  50% {
    background-position: 390px 0;
  }
  100% {
    background-position: 800px 0;
  }
}

@keyframes placeHolderShimmerDesc {
  0% {
    background-position: -800px 0;
  }
  50% {
    background-position: 330px 0;
  }
  100% {
    background-position: 800px 0;
  }
}

@mixin contentKeyframes($offset) {
  @keyframes placeHolderShimmerContent-#{$offset} {
    0% {
      background-position: -800px 0;
    }
    50% {
      background-position: #{280 - (30 * $offset)}px 0;
    }
    100% {
      background-position: 800px 0;
    }
  }

  animation-name: placeHolderShimmerContent-#{$offset};
}

.animateBg {
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 0.75rem;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-color: #444;
  background: linear-gradient(
    130deg,
    darken(vars.$primary-color-1, 45%) 5%,
    darken(vars.$primary-color-1, 42%) 18%,
    darken(vars.$primary-color-1, 45%) 30%
  );
  background-size: 800px 104px;
  height: 30px;
  position: relative;
}

.metadataAnim {
  animation-name: placeHolderShimmerMetadata;
}

.titleAnim {
  animation-name: placeHolderShimmerTitle;
}

.descAnim {
  animation-name: placeHolderShimmerDesc;
}

@for $i from 0 through 9 {
  .contentAnim-#{$i} {
    @include contentKeyframes($i);
  }
}

.bgHeightSm {
  height: 12px;
}

.bgHeightMd {
  height: 20px;
}

.bgHeightLg {
  height: 40px;
}

.bgHeightXl {
  height: 50px;
}

.bgNarrow {
  width: 100px;
}
