@use "styles/vars" as vars;

.button {
  height: 100%;
  min-width: 2.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  font-family: vars.$font-family;
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  line-height: 1;

  &:not(.bare) {
    border: 2px solid vars.$primary-color-2;

    &[aria-disabled] {
      cursor: not-allowed;
      color: vars.$tertiary-color-2;
      border-color: rgba(vars.$primary-color-1, 0.35);
    }

    &:hover:not([aria-disabled]) {
      background: rgba(vars.$primary-color-2, 0.25);
    }

    &:active:not([aria-disabled]) {
      background: rgba(vars.$primary-color-2, 0.15);
    }

    &.selected {
      color: vars.$text-color;
      background: vars.$primary-color-2;
      border-color: transparent;

      &:hover {
        background: rgba(vars.$primary-color-1, 0.8);
      }

      &:active {
        background: rgba(vars.$primary-color-1, 0.6);
      }
    }
  }

  &.bare {
    background: rgba(vars.$primary-color-1, 0.15);

    &[aria-disabled] {
      cursor: not-allowed;
      color: vars.$tertiary-color-2;
      background: none;
    }

    &:hover:not([aria-disabled]) {
      background: rgba(vars.$primary-color-1, 0.2);
    }

    &:active:not([aria-disabled]) {
      background: rgba(vars.$primary-color-1, 0.1);
    }
  }

  &.md {
    font-size: 14px;
    padding: 0.25rem;

    @media (min-width: 640px) {
      font-size: 16px;
      padding: 0.5rem;
    }
  }

  &.sm {
    font-size: 14px;
    padding: 0.25rem 0.5rem;
  }

  &.squircle {
    border-radius: 4px;
  }

  &.round {
    border-radius: 10rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
  }
}
