@use "styles/vars" as vars;

.filterList {
  margin-block-end: 3rem;
}

.filterListItems {
  display: flex;
  flex-flow: row wrap;
  gap: 0.25rem;
  margin-block-end: 1rem;
}

.filterListReset {
  display: flex;
  gap: 0.25rem;
}

.filterListToggle {
  display: block;
  margin-block-end: 1rem;
}

.hidden {
  display: none;
}

@media (min-width: 640px) {
  .hidden {
    display: block;
  }

  .filterListToggle {
    display: none;
  }

  .filterListItems {
    gap: 0.5rem;
  }

  .filterListReset {
    gap: 0.5rem;
  }
}
