@use "../../../styles/vars" as vars;

.collectionPills {
  margin-block-end: 3rem;
}

.collectionPillsList {
  display: flex;
  flex-flow: row wrap;
  gap: 0.25rem;
  margin-block-end: 1rem;
}

.collectionPillsOptions {
  display: flex;
  gap: 0.25rem;
}

.collectionPillsToggle {
  display: block;
  margin-block-end: 1rem;
}

.hidden {
  display: none;
}

@media (min-width: 640px) {
  .hidden {
    display: block;
  }

  .collectionPillsToggle {
    display: none;
  }

  .collectionPillsList {
    gap: 0.5rem;
  }

  .collectionPillsOptions {
    gap: 0.5rem;
  }
}
