@use "../../../styles/vars" as vars;

.collectionPills {
  margin-block-end: 3rem;
}

.collectionPillsList {
  display: flex;
  flex-flow: row wrap;
  gap: 0.75rem;
  margin-block-end: 1rem;
}

.collectionPillsOptions {
  display: flex;
  gap: 0.75rem;
}
