@use "styles/vars" as vars;

.logoContainer {
  display: inline-block;
  max-width: 100px;
  height: auto;
  margin: 1rem 0 2rem 0;
}

.pageHeader {
  padding: 1rem 1rem 3rem 1rem;
}

.pageHeading {
  text-transform: uppercase;
  margin: 0 0 1rem 0;
  padding: 0;
}

.navList {
  display: flex;
  gap: 1rem;
}

.navListItemLink {
  display: block;
  font-weight: normal;
  padding-block-end: 0.5rem;

  &.isActive {
    border-block-end: 3px solid vars.$primary-color-1;
  }

  &:hover:not(.isActive) {
    border-block-end: 3px solid vars.$primary-color-2;
  }
}
