@use "../../../styles/vars" as vars;

.container {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem 0 3rem 0;
}

.label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-block-end: 1rem;
}

.input {
  outline: none;
  appearance: none;
  font-size: 18px;
  border: 2px solid vars.$secondary-color-2;
  background-color: transparent;
  color: #ddd;
  padding: 0.75rem 1rem;
  border-radius: 4px;

  &:focus,
  &:hover {
    border-color: vars.$secondary-color-1;
  }
}
