@use "../../../../styles/vars" as vars;

.collectionItem {
  background-color: rgba(vars.$tertiary-color-1, 0.15);
  padding: 1rem;
}

.collectionItemDataList {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 0.5rem;
}
