@use "../../../styles/vars" as vars;

.pagination {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  justify-content: center;

  .paginationBreak {
    flex-basis: 100%;
  }

  @media (min-width: 640px) {
    justify-content: flex-start;

    .paginationBreak {
      flex-basis: 0;
    }
  }
}
