@use "app/styles/vars" as vars;

.collectionFilter {
  margin-block-end: 3rem;
}

.collectionFilterList {
  display: flex;
  flex-flow: row wrap;
  gap: 0.25rem;
  margin-block-end: 1rem;
}

.collectionFilterReset {
  display: flex;
  gap: 0.25rem;
}

.collectionFilterToggle {
  display: block;
  margin-block-end: 1rem;
}

.hidden {
  display: none;
}

@media (min-width: 640px) {
  .hidden {
    display: block;
  }

  .collectionFilterToggle {
    display: none;
  }

  .collectionFilterList {
    gap: 0.5rem;
  }

  .collectionFilterReset {
    gap: 0.5rem;
  }
}
