.essayList {
  margin-block-end: 2rem;
}

.essayItem {
  margin-block-end: 3rem;
}

.essayItemHeading {
  margin-block-end: 0.5rem;
}

.essayItemDescription {
  margin-block-end: 0.5rem;
}

.essayItemTimePara {
  margin-block-end: 0.5rem;
}

.essayItemTime {
  font-weight: bold;
  color: #999;
}

.pagination {
  display: flex;
  gap: 1rem;
}

.paginationButton {
  height: 2.15rem;
  width: 2.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
  appearance: none;
  border-radius: 2px;
  background: transparent;
  border: none;
  padding: 0.5rem 0.75rem;

  &.isActive {
    background: lightgray;
    color: #222;
  }

  &:hover:not([disabled]) {
    background: #333;
  }

  &:not([disabled]) {
    cursor: pointer;
  }

  &[disabled]:not(.isActive) {
    color: #666;
  }
}
