$primary-color-1: #863cdd;
$primary-color-2: rgba($primary-color-1, 0.5);

$secondary-color-1: #30b532;
$secondary-color-2: rgba($secondary-color-1, 0.5);

$tertiary-color-1: #3096c5;
$tertiary-color-2: rgba($tertiary-color-1, 0.5);

$background-color: #010012;

$text-color: lighten($tertiary-color-1, 40%);
