@use "../../../styles/vars" as vars;

.essayItem {
  margin-block-end: 3rem;
}

.essayItemHeading {
  margin-block-end: 1rem;

  > a {
    color: vars.$text-color;

    &:hover {
      color: white;
    }
  }
}

.essayItemTimePara {
  margin-block-end: 0.5rem;
}

.essayItemTime {
  font-weight: bold;
  color: vars.$tertiary-color-1;
}
