@use "../../../styles/vars" as vars;

.essayItem {
  margin-block-end: 3rem;
}

.essayItemHeading {
  font-size: 20px;
  margin-block-end: 0.8rem;

  > a {
    color: vars.$text-color;

    &:hover {
      color: white;
    }
  }

  @media (min-width: 640px) {
    font-size: 24px;
    margin-block-end: 1rem;
  }
}

.essayItemTimePara {
  margin-block-end: 0.5rem;
}

.essayItemTime {
  font-weight: bold;
  color: vars.$tertiary-color-1;
}
