@use "styles/vars" as vars;

.databaseList {
  display: grid;
  gap: 1rem;
  line-height: 1.5;
  margin-block-end: 2rem;

  &:last-child {
    margin-block-end: 0;
  }
}

.databaseMinimizeBar {
  border-inline-start: 0;
  border-inline-end: 0;
  border-block-start: 0;
  border-block-end: 0.5rem solid rgba(vars.$tertiary-color-1, 0.25);
  margin-block-end: 3rem;
}

.gameHeading {
  font-weight: normal;
  margin-block-end: 2px;
}

.gameHeadingLabel {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  background: vars.$tertiary-color-2;
}

.platformHeading {
  font-size: 1.25rem;
}
